<a href="https://colab.research.google.com/github/ferbits/Laboratorio10/blob/main/Laboratorio10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#SESION 10-MIO

#PUNTO 1 DE LA PRIMERA PARTE

In [ ]:
# Creación del DataFrame y visualización del mismo
import pandas as pd
import numpy as np
datos={
'Nombre':['Carlos', 'Ana', 'Luis','Pedro', 'María', None],
'Edad':[34, 29, None, 45, 25, 33],
'Fecha_Ingreso':['2021-01-15',  '2020/03/12',  '2022-07-01', '2021/12/01', '2021-05-20', '2020-03-12'],
'Resultado_Prueba':['Positivo','Negativo', 'Positivo','Positivo', 'Negativo','Negativo']}
df=pd.DataFrame(datos)
print(df)

   Nombre  Edad Fecha_Ingreso Resultado_Prueba
0  Carlos  34.0    2021-01-15         Positivo
1     Ana  29.0    2020/03/12         Negativo
2    Luis   NaN    2022-07-01         Positivo
3   Pedro  45.0    2021/12/01         Positivo
4   María  25.0    2021-05-20         Negativo
5    None  33.0    2020-03-12         Negativo

In [ ]:
import pandas as pd
import numpy as np
from dateutil import parser
datos={
'Nombre':['Carlos', 'Ana', 'Luis','Pedro', 'María', None],
'Edad':[34, 29, None, 45, 25, 33],
'Fecha_Ingreso':['2021-01-15',  '2020/03/12',  '2022-07-01', '2021/12/01', '2021-05-20', '2020-03-12'],
'Resultado_Prueba':['Positivo','Negativo', 'Positivo','Positivo', 'Negativo','Negativo']}
df=pd.DataFrame(datos)
#Eliminamos el valor faltante de la columna nombre
df.dropna(subset=['Nombre'], inplace=True)
#En el campo Edad encontramos un valor nulo y lo rellenamos con la media
df['Edad'].fillna(df['Edad'].mean(), inplace=True)
# Función para convertir fechas a formato YYYY-MM-DD
def convertir_fecha(fecha):
    try:
# Intentamos parsear la fecha y luego aplicamos el formato correcto
        fecha_convertida = parser.parse(fecha)
        return fecha_convertida.strftime('%Y-%m-%d')
    except (parser.ParserError, TypeError, ValueError):
        return None
#Aplicamos la funcion a la columna fecha
df['Fecha_Ingreso'] = df['Fecha_Ingreso'].apply(convertir_fecha)
#Convertimos la columna a tipo de dato Fecha
df['Fecha_Ingreso'] = pd.to_datetime(df['Fecha_Ingreso'])
#Mostramos el DataFrame
print(df)

   Nombre   Edad Fecha_Ingreso Resultado_Prueba
0  Carlos  34.00    2021-01-15         Positivo
1     Ana  29.00    2020-03-12         Negativo
2    Luis  33.25    2022-07-01         Positivo
3   Pedro  45.00    2021-12-01         Positivo
4   María  25.00    2021-05-20         Negativo

<ipython-input-16-ddc8c037dc00>:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Edad'].fillna(df['Edad'].mean(), inplace=True)

#PUNTO 2 DE LA PRIMERA PARTE

In [1]:
import pandas as pd
import numpy as np
from dateutil import parser
data={
'Cliente_ID':[1, 2, 3, 4, 5 ],
'Producto':['A', 'B', 'C','D', 'E'],
'Cantidad':[10, 20, None, 5, 15],
'Precio':[100, '200$',300, 'cuatrocientos',500],
'Fecha_Transacción':['2023-01-15','2023/02/20','2023-03-25','2023/04/30','2023-05-10']}
df=pd.DataFrame(data)
print(df)

   Cliente_ID Producto  Cantidad         Precio Fecha_Transacción
0           1        A      10.0            100        2023-01-15
1           2        B      20.0           200$        2023/02/20
2           3        C       NaN            300        2023-03-25
3           4        D       5.0  cuatrocientos        2023/04/30
4           5        E      15.0            500        2023-05-10

In [ ]:
#Rellenamos el valor nulo de la columna cantidad con valor promedio (mean)
df['Cantidad'].fillna(df['Cantidad'].mean(),inplace=True)
print(df)

   Cliente_ID Producto  Cantidad         Precio Fecha_Transacción
0           1        A      10.0            100        2023-01-15
1           2        B      20.0           200$        2023/02/20
2           3        C      12.5            300        2023-03-25
3           4        D       5.0  cuatrocientos        2023/04/30
4           5        E      15.0            500        2023-05-10

<ipython-input-30-f87ee588b427>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cantidad'].fillna(df['Cantidad'].mean(),inplace=True)

In [ ]:
#Limpiar la columna precios convirtiendo los valores a enteros
df['Precio'] = pd.to_numeric(df['Precio'], errors='coerce')
print(df)

   Cliente_ID Producto  Cantidad  Precio Fecha_Transacción
0           1        A      10.0   100.0        2023-01-15
1           2        B      20.0     NaN        2023/02/20
2           3        C      12.5   300.0        2023-03-25
3           4        D       5.0   400.0        2023/04/30
4           5        E      15.0   500.0        2023-05-10

In [ ]:
#Eliminación del valor nulo de la columna precios.
df.dropna(subset=['Precio'], inplace=True)
print(df)

   Cliente_ID Producto  Cantidad  Precio Fecha_Transacción
0           1        A      10.0   100.0        2023-01-15
1           3        C      12.5   300.0        2023-03-25
2           4        D       5.0   400.0        2023/04/30
3           5        E      15.0   500.0        2023-05-10

In [ ]:
def convertir_fecha(fecha):
    try:
# Intentamos parsear la fecha y luego aplicamos el formato correcto
        fecha_convertida = parser.parse(fecha)
        return fecha_convertida.strftime('%Y-%m-%d')
    except (parser.ParserError, TypeError, ValueError):
        return None
#Aplicamos la funcion a la columna fecha
df['Fecha_Transacción'] = df['Fecha_Transacción'].apply(convertir_fecha)
#Convertimos la columna a tipo de dato Fecha
df['Fecha_Transacción'] = pd.to_datetime(df['Fecha_Transacción'])
#Mostramos el DataFrame
print(df)

   Cliente_ID Producto  Cantidad  Precio Fecha_Transacción
0           1        A      10.0   100.0        2023-01-15
1           3        C      12.5   300.0        2023-03-25
2           4        D       5.0   400.0        2023-04-30
3           5        E      15.0   500.0        2023-05-10

#PARTE NÚMERO 2 DEL LABORATORIO 10

In [ ]:
#Creación del DataFrame y visualización del mismo.
import pandas as pd
import numpy as np

data={
'Nombre':['Juan',	'Maria',	'Pedro',	'Ana',	'Luisa',	'Carlos',	'Juan'],
'Edad':[25,	30, None, 29,	28,	200,25],
'Email':['juan@mail.com','maria@mail.com','pedro@mail.com','ana@mail.com','luisa@mail.com','carlos@mail.com','juan@mail.com'],
'Pais':['colombia','Colombia','Mexico','Argentina','Colombia','Brazil','colombia'],
'Genero':['M','F','H','F','Femenino','M','M'],
'Visitas':[ 5,7,6,4,8,2,5]}
df=pd.DataFrame(data)
print(df)

   Nombre   Edad            Email       Pais    Genero  Visitas
0    Juan   25.0    juan@mail.com   colombia         M        5
1   Maria   30.0   maria@mail.com   Colombia         F        7
2   Pedro    NaN   pedro@mail.com     Mexico         H        6
3     Ana   29.0     ana@mail.com  Argentina         F        4
4   Luisa   28.0   luisa@mail.com   Colombia  Femenino        8
5  Carlos  200.0  carlos@mail.com     Brazil         M        2
6    Juan   25.0    juan@mail.com   colombia         M        5

In [ ]:
#Eliminar duplicados
df = df.drop_duplicates()
print(df)

   Nombre   Edad            Email       Pais     Genero  Visitas
0    Juan   25.0    juan@mail.com   colombia  Masculino        5
1   Maria   30.0   maria@mail.com   Colombia   Femenino        7
2   Pedro   28.5   pedro@mail.com     Mexico  Masculino        6
3     Ana   29.0     ana@mail.com  Argentina   Femenino        4
4   Luisa   28.0   luisa@mail.com   Colombia   Femenino        8
5  Carlos  200.0  carlos@mail.com     Brazil  Masculino        2

In [ ]:
#Llenar valores faltantes de 'Edad' y reemplazarlos con la MEDIA
df['Edad'].fillna(df['Edad'].median(), inplace=True)
print(df)

   Nombre   Edad            Email       Pais     Genero  Visitas
0    Juan   25.0    juan@mail.com   colombia  Masculino        5
1   Maria   30.0   maria@mail.com   Colombia   Femenino        7
2   Pedro   28.5   pedro@mail.com     Mexico  Masculino        6
3     Ana   29.0     ana@mail.com  Argentina   Femenino        4
4   Luisa   28.0   luisa@mail.com   Colombia   Femenino        8
5  Carlos  200.0  carlos@mail.com     Brazil  Masculino        2

<ipython-input-62-bb1423e8d661>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Edad'].fillna(df['Edad'].median(), inplace=True)

In [ ]:
#Reemplazar algunos nombres de países y estándarización de los datos.
df['Pais']=df['Pais'].str.capitalize().replace({'Brazil': 'Brasil', 'Mexico': 'México'})
print("\nDespués de estandarizar los valores:")
print(df)

Después de estandarizar los valores:
   Nombre   Edad            Email       Pais     Genero  Visitas
0    Juan   25.0    juan@mail.com   Colombia  Masculino        5
1   Maria   30.0   maria@mail.com   Colombia   Femenino        7
2   Pedro   28.5   pedro@mail.com     México  Masculino        6
3     Ana   29.0     ana@mail.com  Argentina   Femenino        4
4   Luisa   28.0   luisa@mail.com   Colombia   Femenino        8
5  Carlos  200.0  carlos@mail.com     Brasil  Masculino        2

In [ ]:
#Reemplazar 'M','H' por 'Mujer', 'Hombre'
df['Genero'].replace({'M': 'Masculino', 'H': 'Masculino','F': 'Femenino','Femenino': 'Femenino'}, inplace=True)
print("\nDespués de estandarizar los valores:")
print(df)

Después de estandarizar los valores:
   Nombre  Edad            Email       Pais     Genero  Visitas
0    Juan  25.0    juan@mail.com   Colombia  Masculino        5
1   Maria  30.0   maria@mail.com   Colombia   Femenino        7
2   Pedro  28.5   pedro@mail.com     México  Masculino        6
3     Ana  29.0     ana@mail.com  Argentina   Femenino        4
4   Luisa  28.0   luisa@mail.com   Colombia   Femenino        8
5  Carlos  28.1  carlos@mail.com     Brasil  Masculino        2

<ipython-input-71-ab7df8fabdd3>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Genero'].replace({'M': 'Masculino', 'H': 'Masculino','F': 'Femenino','Femenino': 'Femenino'}, inplace=True)

In [ ]:
#Llenar el valor de la  'Edad' atípica de 200 años con la MEDIA
#Calcular la media excluyendo valores NaN y el valor atípico (ej. edades mayores de 100)
mean_age = df['Edad'][df['Edad'] < 100].mean()
# Reemplazar valores NaN y valores atípicos con la media
df['Edad'] = df['Edad'].apply(lambda x: mean_age if (pd.isna(x) or x >= 100) else x)
print(df)

   Nombre  Edad            Email       Pais     Genero  Visitas
0    Juan  25.0    juan@mail.com   Colombia  Masculino        5
1   Maria  30.0   maria@mail.com   Colombia   Femenino        7
2   Pedro  28.5   pedro@mail.com     México  Masculino        6
3     Ana  29.0     ana@mail.com  Argentina   Femenino        4
4   Luisa  28.0   luisa@mail.com   Colombia   Femenino        8
5  Carlos  28.1  carlos@mail.com     Brasil  Masculino        2